* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('wallpaperflare.com_wallpaper.jpg') no-repeat;
    background-size: cover;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.logo {
    /* font-family: 'Arial Narrow Bold'; */
    font-size: 2em;
    color: #fff;
}
.navigation a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -3px;
    background-color: #fff;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}
.navigation .login-button {
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 500;
    color: white;
    margin-left: 20px;
    width: 100px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 5px;
    transition: .5s;
} 
.navigation .login-button:hover {
    color: black;
    background: white;
}
.wrapper {
    border: 2px solid white ;
    width: 440px;
    height: 440px;
    background: transparent;
    background-color: rgba(255, 255, 255, 0.507);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.331);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: transform .5s ease,height .2s ease;
    /* display: none; */
    overflow: hidden;
}
.wrapper.active-popup {
    transform: scale(1);
}
.wrapper.active {
    height: 520px;
}
.wrapper .form-login {
    /* display: none; */
    transition: transform .8s ease;
    transform: translatex(0px);
}
.wrapper.active .form-login {
    /* display: none; */
    transition: none;
    transform: translateX(-400px);
}
.wrapper .registration {

    position: absolute;
    transition: none;
    transform: translateX(400px);
    transition: transform .8s ease;
}
.wrapper.active .registration {
    transform: translateX(0px);
}
.wrapper .login-box {
    width: 100%;
    padding: 40px;
}
.wrapper .login-box h2{
    font-size: 2em;
    text-align: center;
    color: rgb(21, 20, 71);
}
.wrapper .login-box .input-b {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgb(21, 20, 71);
    margin: 30px 0;
}
.input-b label{
    /* border:1px solid green; */
    position: absolute;
    color: rgb(21, 20, 71);
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-b input:focus+label, .input-b input:valid+label {
    top: -3px;
}
.input-b input {
    position: relative;
    top: 20px;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    padding: 0px 30px 0px 5px;

}
.input-b .icon {
    /* border: 1px solid black; */
    position: absolute;
    right: 0;
    font-size: 20px;
    color: rgb(21, 20, 71);
    line-height: 57px;
}
.remember-me-forget {
    font-size: .9em;
    font-weight: 500;
    margin: -15px 0px 15px;
    display: flex;
    justify-content: space-between;
}
.remember-me-forget label .checkbox {
    position: relative;
    bottom: -2px;
    accent-color: rgb(21, 20, 71);
    margin-right: 3px;
    margin-top: 1px;
}
.remember-me-forget a {
    font-size: .9em;
    font-weight: 500;
    color: rgb(21, 20, 71);
    text-decoration: none;
}
.remember-me-forget a:hover {
    text-decoration: underline;
}
.btn {
    width: 100%;
    height: 50px;
    font-size: 1em;
    font-weight: 500;
    color: white;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(21, 20, 71);
}
.account-register {
    font-size: .9em;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
}
.account-register p a {
    text-decoration: none;
    color: rgb(21, 20, 71);
    font-weight: 600;
}
.account-register p a:hover {
     /* cursor:pointer; */
     text-decoration: underline;
}
.exit {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    font-size: 2em;
    color: white;
    background-color: rgb(21, 20, 71);
    border-bottom-left-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}